/* Reset all margins and padding on elements */
* {
  margin: 0;
  padding: 0;
}


#clockContainer {
  /*  */
  /* border: 1px solid red; */
  width: fit-content;
  margin: 0 auto;
  margin-top: 8.5rem;
  padding: 3rem;

  border-radius: 80px;
}

#clockTime {
  /*  */
  font-size: 12rem;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* The button to open the adjustment container */
#btnAdjustOpen{
  position: fixed;
  top: 0;
  right: 0;

  margin: 16px;
}

/* The adjustment container */
#adjustmentContainer {
  display: inline-block;

  position: fixed;
  width: 18rem;
  height: 100vh;

  padding: 16px;

  right: 0;
  top: 0;
  

  color: #fff;
}