/* Reset all margins and padding on elements */
* {
  margin: 0;
  padding: 0;
}


#clockContainer {
  /*  */
  /* border: 1px solid red; */
  width: fit-content;
  margin: 0 auto;
  margin-top: 9rem;
  padding: 3rem;

  border-radius: 80px;
}

#clockTime {
  /*  */
  font-size: 12rem;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
